<blockquote>
    <p>eRupee (e₹) is First South Asian crypto-currency. it will be used as central token for an ecosystem created which includes exchange, payment gateway, DAPP Store, marketplace. Our Aim is to make blockchain technology accessible to every South Asian by creating a complete ecosystem to use eRupee with ease.</p>
    <footer><a href="https://www.erupee.ml/" target="_blank">https://www.erupee.ml/</a></footer>
  </blockquote>
  