
<blockquote>
    <p>Ziggurat tokens are the fuel of Ecex Exchange - service fees can be paid on ZIG and some are only on ZIG. Fees are often cheaper on ZIG. All tokens are also traded against ZIG.</p>
    <footer><a href="http://ecex.exchange/" target="_blank">http://ecex.exchange/</a></footer>
  </blockquote>
    